.form__label {
    color: #d7d7d7;
    font-weight: 500;
    font-size: 70px;
}

.form__label::after {
    content: " * ";
    color: rgb(198, 66, 66);
}

.form__input {
    border: 1px solid #7e7e7e;
    background-color: #2f3136;
    color: #d7d7d7;
    line-height: 3;
    border-radius: 6px;
    font-size: 60px;
    width: 100%;
    box-sizing: border-box
}

.form__text-area {
    resize: none;
    background-color: #2f3136;
    border: 1px solid #7e7e7e;
    color: #d7d7d7;
    border-radius: 6px;
    width: 100%;
    height: 80%;
    font-size: 60px;
}

.form__input:active, .form__text-area:active, .form__input:focus, .form__text-area:focus {
    background-color: #2f3136;
    color: #d7d7d7;
}

.form__button {
    background-color: #be393b;
    color: #fff;
    border: none;
    border-radius: 6px;
    max-width: 470px;
    font-weight: 700;
    font-size: 72px;
    padding: 60px 70px;
}

@media screen and (max-width: 720px) {
    .form__text-area {
        height: 50%;
    }
}