body {
    background-color: #2d3136;
    font-family: 'Roboto', sans-serif;
}

.img {
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    max-width: 2400px;
    margin-top: 0px;
    padding-right: 10vw;
    padding-left: 10vw;
    position: relative;
}

section{
    min-width: 720px;
}

.comments {
    background-color: #f6f6f7;
    min-height: 1500px;
}

.comments-title {
    color: #37414e;
    padding-top: 280px;
    text-align: center;
    font-size: 86px;
}

.comments-list {
    max-width: 2400px;
    min-width: 720px;
}